.normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  cursor: default;
}
.eraser {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  cursor: url(../static/eraserr.cur), auto;
}
